body {
    background:lightblue;
}

.jumbotron-fluid {
    background: maroon;
    margin: 30px 50px;
    

}

.text-center {
    color: white;
}

.card {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom:50px;
}